<!-- <div class="container position-relative">
    <div id="dentistCarousel" class="carousel slide mt-2" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active position-relative">
                <img src="assets/Orthodontists.jpg" class="d-block w-100" alt="Slide 1" height="600">
                <div class="carousel-caption d-none d-md-block">
                    <h4 style="color:black;">Orthodontists</h4>
                    <p class="bg-dark text-white opacity-75">
                        Orthodontists specialize in teeth and jaw alignment, using wires, braces, retainers, and other devices. If you have an overbite, underbite, crossbite, or misaligned teeth, you may be referred to an orthodontist for correction.
                    </p>
                </div>
            </div>
            <div class="carousel-item active position-relative">
                <img src="assets/Prosthodontists.jpg" class="d-block w-100" alt="Slide 1" height="600">
                <div class="carousel-caption d-none d-md-block">
                    <h4 style="color:black;">Prosthodontists</h4>
                    <p class="bg-dark text-white opacity-75">
                        Prosthodontists repair teeth and jaw bones. They provide cosmetic dentistry, or treatments to improve the appearance of teeth, such as teeth whitening and veneers. They also fit people with dentures, crowns, and bridges.
                    </p>
                </div>
            </div>
            <div class="carousel-item active position-relative">
                <img src="assets/Pedodontists or Pediatric Dentists.jpg" class="d-block w-100" alt="Slide 1" height="600">
                <div class="carousel-caption d-none d-md-block">
                    <h4 style="color:black;">Pedodontists or Pediatric Dentists</h4>
                    <p class="bg-dark text-white opacity-75">
                        Pediatric dentists specialize in dental care and treatments for children and youth. Also known as pedodontists, pediatric dental specialists care for children as young as infants up to teenagers.

                        Pediatric dental specialists offer youth-friendly approaches to routine dental care as well as pediatric-specific dental issues. A pedodontist will monitor a child’s teeth and oral development, referring them to an orthodontist, when needed.
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#dentistCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dentistCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <a class="btn btn-success btn-overlay position-absolute end-0 bottom-0 m-3" routerLink="/book-appointment"
            role="button" style="font-size: 12px; padding: 5px 10px; z-index: 10;">Get Appointment</a>
    </div>
</div>
 -->
 
 <section class="banner-section" >
    <div class="container-fluid">
      <div class="row col-lg-12 col-md-12 col-sm-12 ">

        <div class="text-block py-2 ps-5 ">
          <!-- <span class="para_head py-2 mt-2  letter-specing text-uppercase"><p>Total Health care solution</p></span> -->
          <h1 class="banner_heading ms-2 mt-5 ps-5 ">Your most trusted health partner</h1>
          <!-- <p class="banner_paragraph py-2 pt-2">A repudiandae ipsam labore ipsa voluptatum quidem quae laudantium quisquam aperiam maiores sunt fugit, deserunt rem suscipit placeat.</p> -->

          <!-- <div class="Appointment_link"><a href="#">Make Appoitment</a></div> -->
        </div>




      </div>
      <div class="Appointment">
        <div class="container">
          <div class="row  ms-auto Appointment_big_box">
            <div class=" pb-3 appoinntment_head">
              <h4>Book An Appointment</h4>
            </div>

            <!-- Loading Spinner -->
          <div *ngIf="loading" class="loading-spinner">
            <i class="bi bi-arrow-clockwise spin"></i> Loading...
          </div>


          <div class="row justify-content-left ms-auto Apointment-box ps-5 ms-3">
            <!-- Location Box -->
            <div class="col-md-4 col-sm-6 location-box" >
              <!-- <div class="location-icon"><i class="bi bi-geo-alt"></i></div> -->
              <ng-select 
                [items]="location" 
                bindLabel="locationName"  
                bindValue="id"            
                [(ngModel)]="selectedLocation" 
                [searchable]="true" 
                placeholder="Search a Location"
                (search)="loadLocation($event)"
                (change)="onLocationChange($event)">
              </ng-select>
            </div>
            
            <!-- Search Box for Doctor & Speciality -->
            <div class="col-md-4 col-sm-6 search-box">
              <!-- <div class="Search-icon"><i class="bi bi-search"></i></div> -->
              <ng-select
                [items]="combinedList" 
                bindLabel="name" 
                bindValue="value" 
                placeholder="Search doctor & Speciality" 
                [searchable]="true"
                [multiple]="true"
                [groupBy]="'groupName'"
                (change)="onSpecializationDoctorChange($event)"
                (search)="onSearch($event)">
                
                <ng-template ng-optgroup-tmp let-item="item">
                  <span>{{item.groupName}}</span>
                </ng-template>
          
                <ng-template ng-option-tmp let-item="item">
                  <span>{{item.name}}</span>
                </ng-template>
              </ng-select>
              <div *ngIf="!isSelectionValid" class="text-danger">
                Please select at least one doctor or specialist.
              </div>
            </div>
        
          
          
          
              <!-- <div class="col-md-1 partition_icon">|</div> -->


              <div class="col-md-4 col-sm-0 button-box">
                <div class="btn-submit-box">
                  <button type="submit" [disabled]="loading" (click)="onSearchClick()">Search </button></div>
              </div>

            </div>

            <div>

            </div>

          </div>

        </div>

      </div>

    </div>


