
<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
              <!-- start of search  -->
          <div class="row justify-content-left ms-auto Apointment-box ps-5 ms-3">
            <!-- Location Box -->
            <div class="col-md-4 col-sm-6 location-box">
              <div class="location-icon"><i class="bi bi-geo-alt"></i></div>
              <ng-select 
                [items]="location" 
                bindLabel="locationName"  
                bindValue="id"            
                [(ngModel)]="selectedLocation" 
                [searchable]="true" 
                placeholder="Search a Location"
                (search)="loadLocation($event)"
                (change)="onLocationChange($event)">
              </ng-select>
            </div>
<!-- Search Box for Doctor & Speciality -->
<div class="col-md-4 col-sm-6 search-box">
  <div class="Search-icon"><i class="bi bi-search"></i></div>
  <ng-select 
    [items]="combinedList" 
    bindLabel="name" 
    bindValue="value" 
    placeholder="Search doctor & Specialty" 
    [searchable]="true"
    [multiple]="true"
    [groupBy]="'groupName'"
    (change)="onSpecializationDoctorChange($event)">
    
    <ng-template ng-optgroup-tmp let-item="item">
      <span>{{item.groupName}}</span>
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
      <span>{{item.name}}</span>
    </ng-template>
  </ng-select>
 
</div>
              <!-- <div class="col-md-1 partition_icon">|</div> -->
 <div class="col-md-4 col-sm-0 button-box">
                <div class="btn-submit-box">
                  <button type="submit"  (click)="onSearchClick()">Search </button></div>
              </div>
            </div>
            <!-- End Of Search -->
          


