<hr class="mt-0 mb-4">
<div class="row justify-content-center">
  <div class="col-xl-4">
    <div class="card mb-4">
      <div class="card-header">Change Password</div>
      <div class="card-body">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
          <!-- New Password -->
          <div class="mb-3">
            <label class="small mb-1" for="newPassword">New Password</label>
            <input 
              type="password" 
              class="form-control" 
              id="newPassword" 
              placeholder="New Password"  
              formControlName="newPassword"
              required
            />
            <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
              <small class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password field is required.</small>
              <small class="text-danger" *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">Password must be at least 8 characters long, contain at least one lowercase letter, one uppercase letter, one number, and one special character.</small>
            </div>
          </div>
          

          <!-- Confirm Password -->
         <!-- Confirm Password -->
<div class="mb-3">
  <label class="small mb-1" for="confirmPassword">Confirm Password</label>
  <input 
    type="password" 
    class="form-control" 
    id="confirmPassword" 
    placeholder="Confirm Password" 
    formControlName="confirmPassword"
    required
  />
  <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
    <small class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Confirm password is required.</small>
    <small class="text-danger" *ngIf="resetPasswordForm.errors?.['mismatch']">Passwords do not match.</small>
  </div>
</div>


          <!-- Save Changes Button -->
          <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
