<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>User Portal</h3>
        </div>

        <ul class="list-unstyled components">
          <li routerLinkActive="active">
            <a routerLink="/user-portal/user-dashboard">
                <i class="fas fa-tachometer-alt" style="margin-right: 10px;"></i>Dashboard</a>
        </li>  
          <li routerLinkActive="active">
                <a routerLink="/user-portal/user-appointment">
                    <i class="fas fa-calendar-check" style="margin-right: 11px;"></i>Appointments</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                   
                <button type="button" id="sidebarCollapse" class="btn btn-info" routerLink="/">
                    <i class="fas fa-align-left"></i>
                    <span>Home</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <p>Welcome to User Portal</p>
                <div class="profile" (click)="toggleMenu()">
                    <div class="user">
                      <h3>{{username}}</h3>
                    </div>
                    <div class="img-box">
                        <!-- Use dynamic profile image if available -->
                        <img *ngIf="profileImageUrl" [src]="profileImageUrl" alt="User Image" />
                        <!-- Fallback image -->
                        <img *ngIf="!profileImageUrl" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="Default Profile Image" />
                      </div>
                </div>                      
                  
              <div class="menu" [class.active]="isMenuActive">
                  <ul>
                      <li  (click)="navigateToEditProfile(); closeMenu()" ><i class="fa fa-user"></i>&nbsp;Edit Profile</li>
                      <li  routerLink="/user-portal/Changepassword" (click)="closeMenu()"><i class="fa fa-envelope"></i>&nbsp;Change Password</li>
                      <li><i class="fa fa-cog"></i>&nbsp;Settings</li>
                      <li (click)="logout()"><i class="fa fa-sign-out-alt"></i>&nbsp;Sign Out</li>
                  </ul>
              </div>
        </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
    
</div>
