
<div class="container mb-5">
  <div class="row text-center mt-4 py-3 ">
    <div class="Appointment-type-heading">
      <h3>Largest Healthcare Network Across East India</h3>
      <p>Find best doctors across specialities or hospitals in your city.</p>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <div class="Appointment-card d-felx flex-fill ">
        <div class="card_img">
          <img src="assets/Card_Images/promo_test1.png" class="image-fluid" alt="">
        </div>
        <div class="card-heading">
          <h4>Book Lab Test</h4>
          <p class="box-para">It's fast, easy and secure</p>
          <div class="link_button"><a href="#">find dignostic center</a></div>
          <!-- <p class="service">Book Lab Test <br>
          It's fast, easy and secure
          Get Upto 25% OFF On Lab Test</p> -->
          <div class="offer-box d-felx">
            <div class="price-tag "><i class="bi bi-tags-fill"></i></div>
            <div class="offer-pera">
              <p>Get Upto 25% OFF</p>
            </div>
          </div>
        </div>

      </div>
    </div>




    <div class="col-md-6">
      <div class="Appointment-card d-felx flex-fill ">
        <div class="card_img">
          <img src="assets/Card_Images/appointment2.png" alt="">
        </div>
        <div class="card-heading">
          <h4>Book Appointment</h4>
          <p class="box-para">It's fast, easy and secure</p>
          <div class="link_button"><a href="#">find doctor now</a></div>

          <div class="offer-box d-felx">
            <div class="price-tag"><i class="bi bi-tags-fill"></i></div>
            <div class="offer-pera">
              <p>Get Upto 25% OFF t</p>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="col-md-6">
      <div class="Appointment-card ">
        <div class="card_img">
          <img src="assets/Card_Images/surgery.png.png" class="image-fluid" alt="">
        </div>
        <div class="card-heading">
          <h4>Surgery Assistance</h4>
          <p class="box-para">It's fast, easy and secure</p>
          <div class="link_button"><a href="#">consult now</a></div>

          <div class="offer-box d-felx">
            <div class="price-tag"><i class="bi bi-tags-fill"></i></div>
            <div class="offer-pera">
              <p>Get Upto 25% OFF </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="Appointment-card d-felx flex-fill ">
        <div class="card_img">
          <img src="assets/Card_Images/medicines.png" class="image-fluid" alt="">
        </div>
        <div class="card-heading">
          <h4>Buy Medicine</h4>
          <p class="box-para">It's fast, easy and secure</p>
          <div class="link_button"><a href="#">bay now</a></div>

          <div class="offer-box d-felx">
            <div class="price-tag"><i class="bi bi-tags-fill"></i></div>
            <div class="offer-pera">
              <p>Get Upto 25% OFF </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>


