/* ////////////service  section ////////////////////////    */
.Appointment-card{
    display: flex;
}

 .card_img img{
    width: 250px;
    height: 175px;
    object-fit: contain;
    object-fit: cover;
    border-radius: 12px;
    
} 
.Appointment-card{
    margin-top: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 25px;
}
.card-heading h4{
    font-size: 20px;
    margin-left: 20px;

}
.link_button{
    width: 200px;
    height: 35px;
    margin-left: 15px;
    padding-top: 5px;
    border-radius: 5px;
    text-align: center;
    /* border: 1px solid black; */
    background-color: #3966a7ed;
    cursor: pointer;
    color: white;

}

.link_button a{
    color: #fff;
   width: 150px;
    text-decoration: none;
    margin: 20px;
    font-size: 15px;
}
.link_button:hover{
    /* border: 1px solid  #3966a7ed; */
    background-color: rgb(172, 13, 13);
        color: #fff;
}

/* .card-heading .service{
    padding-top: 15px;
} */
.box-para{
    margin-left: 20px;
}
.offer-box{
    display: flex;
    justify-content: center;

}

.price-tag{
 margin-left: 25px;
 color: red;
 font-size: 25px;
 padding-top: 15px;
}
.offer-pera{
    padding-top: 15px;
    color: red;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 15px;
}