<!-- <div class="Doctor-Appointment-header">
    <div class="Doctor-Appointment-logo">
        Appointment
    </div>
    <div class="Doctor-Appointment-header-nav">
        
        <menu-link></menu-link>
       
        </div>
        </div>
     
         -->
         <!-- <nav class="navbar navbar-light bg-light">
            <div class="container-fluid"> -->
              <!-- <a class="navbar-brand" href="#">
                <img src="assets/Bootstrap_logo.svg.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Appointment
              </a> -->
              <!-- <a class="navbar-brand" href="#"><img class="logo_img" src="assets/Logo/askapollo-logo 1 (1).png" alt=""></a>
              <menu-link></menu-link>
            </div>
          </nav> -->


          
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container">
                <a class="navbar-brand" href="#"><img class="logo_img" src="/assets/Logo/C2C 1 1.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/about-us">About us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/contact-us">Contact us</a>
                    </li>
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Pedodontists or Pediatric Dentists</a>
                        <a class="dropdown-item" href="#">Orthodontists</a>
                        <a class="dropdown-item" href="#">Prosthodontists</a>
                      </div>
                    </li>
                  
                  <li class="nav-item ms-5">
                    <a class="btn btn-outline-primary btn-sm" routerLink="/book-appointment"
                    role="button">Get Appointment</a>
                  </li>
                  <li class="nav-item ms-2">
                    <a class="btn btn-outline-primary btn-sm" routerLink="/register"
                    role="button">Register</a>
                  </li>
                  <li class="nav-item ms-2">
                    <a class="btn btn-outline-primary btn-sm" routerLink="/login"
                    role="button">Login</a>
                  </li>
                  </ul>
                </div>
              </div>
              <div class="nav-item">
                <a routerLink="/admin/login"><i class="bi bi-gear"></i></a>
              </div>
            </nav>
          
