<!-- <div class="Doctor-Appointment-header">
    <div class="Doctor-Appointment-logo">
        Appointment
    </div>
    <div class="Doctor-Appointment-header-nav">
        
        <menu-link></menu-link>
       
        </div>
        </div>
     
         -->
         <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="assets/Bootstrap_logo.svg.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Appointment
              </a>
              <menu-link></menu-link>
            </div>
          </nav>
