<footer>
  <div class="footer-section bg-dark mt-5">
    <div class="container  text-light py-5 ">
      <div class="row">




        <div class="col-md-3">
          <div class="logo"><img src="/assets/Logo/clicktocarenew (1) 1.svg" alt=""></div>

          <div class="footer_first_box">
            <div class="footer_icon"><i class="bi bi-telephone"></i></div>
            <div class="footer_para">call us now <br>123 123 1230</div>
          </div>



          <div class="footer_first_box">
            <div class="footer_icon"><i class="bi bi-envelope"></i></div>
            <div class="footer_para">
              Drop us an email <br>
              infosarvodayahospital.com</div>
          </div>



          <div class="footer_first_box">
            <div class="footer_icon"><i class="bi bi-whatsapp"></i></div>
            <div class="footer_para">
              WhatsApp Support <br>
              +91 88606 11481</div>
          </div>

          <div class="social_first_box">
            <div class="social_icon"><i class="bi bi-facebook"></i></div>
            <div class="social_icon"><i class="bi bi-instagram"></i></div>
            <div class="social_icon"><i class="bi bi-twitter"></i></div>
            <div class="social_icon"><i class="bi bi-youtube"></i></div>
          </div>

        </div>





        <div class="col-md-3">
          <h5>Centres of Excellence</h5>
          <div class="footer_link_box">
            <div class="foot-link"><a href="#">Orthopaedics</a></div>
            <div class="foot-link"><a href="#">Neurosciences</a></div>
            <div class="foot-link"><a href="#">Cardiac Sciences</a></div>
            <div class="foot-link"><a href="#">Nephrology</a></div>
            <div class="foot-link"><a href="#">Urology</a></div>
            <div class="foot-link"><a href="#">Internal Medicine</a></div>
          </div>
        </div>



        <div class="col-md-3">
          <h5>Quick Links</h5>
          <div class="footer_link_box">
            <div class="foot-link"><a href="#">Blogs</a></div>
            <div class="foot-link"><a href="#">Events</a></div>
            <div class="foot-link"><a href="#">Awards</a></div>
            <div class="foot-link"><a href="#">Patient Information</a></div>
            <div class="foot-link"><a href="#">Initiatives</a></div>
            <div class="foot-link"><a href="#">Specialities</a></div>
          </div>
        </div>
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <div class="footer_link_box">
            <div class="foot-link"><a href="#">Doctor Appointment</a></div>
            <div class="foot-link"><a href="#">Health Check-Ups</a></div>
            <div class="foot-link"><a href="#">Career</a></div>
            <div class="foot-link"><a href="#">New Stent Prices</a></div>
            <div class="foot-link"><a href="#">New Stent Prices</a></div>
            <div class="foot-link"><a href="#">Pharmaceuticals Prices</a></div>
          </div>
        </div>
      </div>


    </div>

  </div>
</footer>
