<a class="btn btn-primary btn-sm" (click)="onbuttonclick()" role="button">Book Appointment</a>

            <table class="table mt-2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Dr. Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                  <th scope="col">Remaning time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of users; let i = index">
                  <th scope="row">{{ i + 1 }}</th> <!-- Serial Number -->
                  <td>{{item.doctorName || 'N/A'}}</td>
                  <td>{{item.preferreddate}}</td>
                  <td>{{item.preferredtime}}</td>
                  <td>{{item.statusName}}</td>
                  <td style="display: flex; gap: 10px;">
                    <!-- Buttons will be invisible and disabled when inProgressOrCompletedId matches the current item's ID -->
                    <button 
                    type="button" 
                    class="btn btn-primary"
                    [disabled]="item.canEditTimeLeft <= 0"
                    (click)="editAppointment(item.id)">
                    Edit
                  </button>
                  
                  <button 
                  type="button" 
                  class="btn btn-danger" 
                  [disabled]="item.canEditTimeLeft <= 0"
                  (click)="removeAppointment(item.id)">
                  Remove
                </button>
                </td>
                <td>
                  <span *ngIf="item.canEdit">
                    {{convertSecondsToTimeFormat(item.canEditTimeLeft) }}
                  </span>
                </td>
                
                </tr>
              </tbody>
            </table>


            <div *ngIf="users.length > 0" class="pagination-controls">
              <label for="pageSize">Page Size:</label>
              <select
                id="pageSize"
                class="form-select d-inline w-auto ms-2"
                [(ngModel)]="pageSize"
                (change)="onPageSizeChange($event)">
                <option *ngFor="let size of [5, 10, 20, 50]" [value]="size">{{ size }}</option>
              </select>
            <div class="pagination-controls mt-3 float-right">
              <button class="btn btn-sm btn-primary" (click)="changePage('prev')" [disabled]="currentPage === 1">Previous</button>
              <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
              <button class="btn btn-sm btn-primary" (click)="changePage('next')" [disabled]="currentPage === totalPages">Next</button>
            </div>
            </div>