<section class="time-date-section">
  <!--BBC/Sport/football/Scores&Fixtures-->
<div class="container-fluid timeline-container mt-3">
  <div class="row">
    <div class="col-sm-1 d-none d-sm-block">
      <div class="row">
        <div class="col-12 prev-btn">
          <span class="fa fa-angle-left"></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10">
      <div>
        <div class="row timeline-list">
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>fri</strong></span>
              <span class="d-block">12 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>sat</strong></span>
              <span class="d-block">13 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>sun</strong></span>
              <span class="d-block">14 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>mon</strong></span>
              <span class="d-block">15 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>tue</strong></span>
              <span class="d-block">16 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>wed</strong></span>
              <span class="d-block">17 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>thu</strong></span>
              <span class="d-block">18 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>fri</strong></span>
              <span class="d-block">19 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>sat</strong></span>
              <span class="d-block">20 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>sun</strong></span>
              <span class="d-block">21 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>mon</strong></span>
              <span class="d-block">22 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item active">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>tue</strong></span>
              <span class="d-block">23 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>wed</strong></span>
              <span class="d-block">24 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>thu</strong></span>
              <span class="d-block">25 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>fri</strong></span>
              <span class="d-block">26 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>sat</strong></span>
              <span class="d-block">27 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>sun</strong></span>
              <span class="d-block">28 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>mon</strong></span>
              <span class="d-block">29 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>tue</strong></span>
              <span class="d-block">30 jun</span>
            </a>
          </div>
          <div class="col-3 col-sm-2 col-lg-1 timeline-item">
            <a href="#" class="timeline-date">
              <span class="d-block"><strong>wed</strong></span>
              <span class="d-block">1 jul</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1 d-none d-sm-block">
      <div class="row">
        <div class="col-12 next-btn">
          <span class="fa fa-angle-right"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</section> 
<section class="teming-slot">
    <div class="container">
  
      <div class="row mt-5">
        <div class="morning-section"><p>MORNING SLOTES</p></div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>11:15 AM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>11:30 AM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>11:45 AM</span>
        </div><div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>12:00 PM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>12:15 PM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>12:30 PM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>12:45 PM</span>
        </div><div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>1:00 PM</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="noon-section"><p>AFTERNOON SLOTES</p></div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>3:00 PM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>3:15 PM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>3:30 PM</span>
        </div><div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>3:45 PM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>4:00 PM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>4:15 PM</span>
        </div>
        <div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>4:30 PM</span>
        </div><div class=" col-lg-1 col-sm-3   col-md-4 SLOTES">
          <span>4:45 PM</span>
        </div>
        <div class=" col-lg-1 col-sm-3col-md-4 SLOTES">
          <span>5:00 PM</span>
        </div>
        
        
      </div>
      <div class="mt-5">
        <button type="button" class="btn btn-primary">Prev</button>
        <button type="button" class="btn btn-success ms-3">Success</button>
      </div>
    </div>
    
  </section>