 <header></header>
  <!-- ///////////////////////// DR-Search-Box ////////////////////////////////////// -->
<section class="banner-section">
    <div class="container-fluid">
      <div class="row col-lg-12 col-md-12 col-sm-12 ">
        <div class="text-block py-2 ps-5 ">
        </div>
      </div>
      <div class="Appointment">
        <div class="container">
          <div class="row  ms-auto Appointment_big_box">
            <div class=" pb-3 appoinntment_head">
              <h4>Book An Appointment</h4>
            </div>
            <!-- start of search -->
            <div class="row justify-content-left ms-auto Apointment-box ps-5 ms-3">
              <!-- Location Box -->
              <div class="col-md-4 col-sm-6 location-box">
                <div class="location-icon"><i class="bi bi-geo-alt"></i></div>
                <ng-select 
                  [items]="location" 
                  bindLabel="locationName"  
                  bindValue="id"            
                  [(ngModel)]="selectedLocation" 
                  [searchable]="true" 
                  placeholder="Search a Location"
                  (search)="loadLocation($event)"
                  (change)="onLocationChange($event)">
                </ng-select>
              </div>
  <!-- Search Box for Doctor & Speciality -->
  <div class="col-md-4 col-sm-6 search-box">
    <div class="Search-icon"><i class="bi bi-search"></i></div>
    <ng-select 
      [items]="combinedList" 
      bindLabel="name" 
      bindValue="value" 
      placeholder="Search doctor & Specialty" 
      [searchable]="true"
      [multiple]="true"
      [groupBy]="'groupName'"
      (change)="onSpecializationDoctorChange($event)">
      
      <ng-template ng-optgroup-tmp let-item="item">
        <span>{{item.groupName}}</span>
      </ng-template>
  
      <ng-template ng-option-tmp let-item="item">
        <span>{{item.name}}</span>
      </ng-template>
    </ng-select>
   
  </div>
                <!-- <div class="col-md-1 partition_icon">|</div> -->
   <div class="col-md-4 col-sm-0 button-box">
                  <div class="btn-submit-box">
                    <button type="submit"  (click)="onSearchClick()">Search </button></div>
                </div>
              </div>
         <!-- End of search -->
          
         </div>
        </div>
      </div>
    </div>
</section>
<!-- /////////////////DR-card-section//////////////////// -->
  <section class="card-Section">
    <div class="dr-card pt-5">
      <div class="container">
        <div class="row">
          <div class="card-box">
            <div *ngIf="filteredDoctors.length > 0">
              <div class="col-md-8 mt-4 dr-card-main" *ngFor="let doctor of filteredDoctors">
                <div class="dr-appoint-card-box">
                  <div class="dr-card-box">
                    <div class="dr-image pt-3">
                      <img [src]="doctor.profileImageUrl || 'assets/Card_Images/default-placeholder.png'" class="image-fluid" alt="Doctor Image">
                    </div>
            
                    <div class="dr-profile pt-3">
                      <div class="dr-profile-section">
                        <h4 class="dr-heading">{{ doctor.name }}</h4>
                        <p class="dr-para">{{ doctor.specializationName  }}{{doctor.specialization}} | {{doctor.experience}} Years </p>
                        <div class="dr-hr">
                          <hr>
                        </div>
            
                        <div class="dr-location">
                          <div class="dr-location-icon"><i class="bi bi-geo-alt"></i></div>
                          <div class="dr-location-para">
                            <p class="dr-location-para-p">{{ doctor.locationName  }}{{doctor.location}}</p>
                          </div>
                        </div>
                        <div class="dr-language">
                          <div class="dr-language-icon"><i class="bi bi-translate"></i></div>
                          <div class="dr-language-para">
                            <p class="dr-language-para-p">Hindi/English</p>
                          </div>
                        </div>
                        <div class="dr-education">
                          <div class="dr-aducation-icon"><i class="bi bi-mortarboard-fill"></i></div>
                          <div class="dr-aducation-para">
                            <p class="dr-aducation-para-p">{{doctor.education}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="appointment-day" *ngIf="doctor.availabilityDays">
                    <div class="appoint-time">
                      <!-- Show available days and time dynamically -->
                      <h6>({{ getAvailableDays(doctor.availabilityDays).days }})</h6>
                      <p>({{ getAvailableDays(doctor.availabilityDays).startTime }} - {{ getAvailableDays(doctor.availabilityDays).endTime }})</p>
                        
                      <div class="Appointment-btn">
                        <button class="btn" routerLink="/stepperpage" (click)="onAppointmentClick(doctor.id, doctor.specializationId,doctor.name)">Appointment</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="filteredDoctors.length === 0 && !isGetAppointmentPage" class="no-doctors-message">
              <p>No doctors Available</p>
            </div>
            <div class="pagination-container mt-2" *ngIf="filteredDoctors.length > 0 && !isGetAppointmentPage">
              <div class="pagination-controls">
                <label for="pageSize">Page Size:</label>
                <select
                  id="pageSize"
                  class="form-select d-inline w-auto ms-2"
                  [(ngModel)]="pageSize"
                  (change)="onPageSizeChange($event)">
                  <option *ngFor="let size of [5, 10, 20, 50]" [value]="size">{{ size }}</option>
                </select>
                <ul class="pagination float-right">
                  <li class="page-item" [class.disabled]="page === 1">
                    <button class="page-link" (click)="onPageChange(page - 1)">Previous</button>
                  </li>
                  <li *ngFor="let p of [].constructor(totalPages); let i = index" class="page-item" [class.active]="page === i + 1">
                    <button class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</button>
                  </li>
                  <li class="page-item" [class.disabled]="page === totalPages">
                    <button class="page-link" (click)="onPageChange(page + 1)">Next</button>
                  </li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
     </section>
<app-footer></app-footer>