
  <header></header>
  <!-- ///////////////////////// DR-Search-Box ////////////////////////////////////// -->


  <section class="banner-section">
    <div class="container-fluid">
      <div class="row col-lg-12 col-md-12 col-sm-12 ">
        <div class="text-block py-2 ps-5 ">
        </div>
      </div>
      <div class="Appointment">
        <div class="container">
          <div class="row  ms-auto Appointment_big_box">
            <div class=" pb-3 appoinntment_head">
              <h4>Book An Appointment</h4>
            </div>
            <!-- start of search -->
            <div class="row justify-content-left ms-auto Apointment-box ps-5 ms-3">
              <!-- Location Box -->
              <div class="col-md-4 col-sm-6 location-box">
                <div class="location-icon"><i class="bi bi-geo-alt"></i></div>
                <ng-select 
                  [items]="location" 
                  bindLabel="locationName"  
                  bindValue="id"            
                 
                  [searchable]="true" 
                  placeholder="Select a Location"
                  (search)="loadLocation($event)" 
                  (change)="onLocationChange($event)">
                </ng-select>
              </div>
              
              <!-- Search Box for Doctor & Speciality -->
              <div class="col-md-4 col-sm-6 search-box">
                <div class="Search-icon"><i class="bi bi-search"></i></div>
                <ng-select 
                  [items]="combinedList" 
                  bindLabel="name" 
                  bindValue="value" 
                  placeholder="Search doctor & Specialty" 
                  
                  [searchable]="true"
                  [multiple]="true"
                  [groupBy]="'groupName'"
                  (change)="onSpecializationDoctorChange($event)">
                  
                  <!-- Group Template -->
                  <ng-template ng-optgroup-tmp let-item="item">
                    <span>{{item.groupName}}</span>
                  </ng-template>
            
                  <!-- Option Template -->
                  <ng-template ng-option-tmp let-item="item">
                    <span>{{item.name}}</span>
                  </ng-template>
                </ng-select>
                <div *ngIf="!isSelectionValid" class="text-danger">
                  Please select at least one doctor or specialist.
                </div>
              </div>
            
              <!-- Search Button -->
              <div class="col-md-4 col-sm-0 button-box">
                <div class="btn-submit-box">
                  <button 
                    type="submit" 
                    [disabled]="loading" 
                    (click)="onSearchClick()">
                    Search
                  </button>
                </div>
              </div>
            </div>
            
            
            
            <!-- End of search -->

          </div>

        </div>

      </div>

  </div>

  </section>

  <!--  -->

  <!-- /////////////////DR-card-section//////////////////// -->
  <section class="card-Section">
    <div class="dr-card pt-5">
      <div class="container">
        <div class="row">
          <div class="card-box">
            <div *ngIf="filteredDoctors.length > 0">
              <div class="col-md-8 mt-4 dr-card-main" *ngFor="let doctor of filteredDoctors">
                <div class="dr-appoint-card-box">
                  <div class="dr-card-box">
                    <div class="dr-image pt-3">
                      <img src="assets\Card_Images\download-dr-1-removebg-preview.png" class="image-fluid" alt="">
                    </div>
            
                    <div class="dr-profile pt-3">
                      <div class="dr-profile-section">
                        <h4 class="dr-heading">{{ doctor.name }}</h4>
                        <p class="dr-para">{{ doctor.specializationName  }}{{doctor.specialization}} | 8 year of exp</p>
                        <div class="dr-hr">
                          <hr>
                        </div>
            
                        <div class="dr-location">
                          <div class="dr-location-icon"><i class="bi bi-geo-alt"></i></div>
                          <div class="dr-location-para">
                            <p class="dr-location-para-p">{{ doctor.locationName  }}{{doctor.location}}</p>
                          </div>
                        </div>
                        <div class="dr-language">
                          <div class="dr-language-icon"><i class="bi bi-translate"></i></div>
                          <div class="dr-language-para">
                            <p class="dr-language-para-p">Hindi/English</p>
                          </div>
                        </div>
                        <div class="dr-education">
                          <div class="dr-aducation-icon"><i class="bi bi-mortarboard-fill"></i></div>
                          <div class="dr-aducation-para">
                            <p class="dr-aducation-para-p">MBBS,MS,DNB</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="appointment-day">
                    <div class="appoint-time">
                      <h6>(MON,TUE,WED,THU,FRI)</h6>
                      <p>(11:00 AM - 05:00 PM)</p>
            
                      <div class="Appointment-btn">
                        <button class="btn" routerLink="/stepperpage" (click)="onAppointmentClick(doctor.id, doctor.specializationId)">Appointment</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div *ngIf="filteredDoctors.length === 0" class="no-doctors-found">
              <p>No doctors found based on your search criteria.</p>
            </div>
         
            </div>
          </div>
        </div>
      </div>
  </section>

<app-footer></app-footer>