<a class="btn btn-primary btn-sm" routerLink="/book-appointment"
            role="button">Book Appointment</a>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Dcotor Name</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Dr.....</td>
        <td>30/08/2024</td>
        <td>Pending/Complete</td>
      </tr>
    </tbody>
  </table>