<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item" *ngFor="let step of steps;let i=index">
      <div class="d-grid">
        <button
          (click)="onClick(i)"
          [class.active]="selectedIndex === i"
          [disabled]="!isStepClickable(i)"
          class="nav-link py-3 fw-bold">
          {{ step.label }}
        </button>
      </div>
    </li>
  </ul>
  
  <div *ngIf="selected">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>
</div>

<div class="row">
  <div class="col-md-11 mx-auto mat-stepper">
    <mat-horizontal-stepper [linear]="linearModeSelected" #stepper>
      <mat-step label="Appointment">
        <app-appointmentinteraction></app-appointmentinteraction>
      </mat-step>
      <mat-step label="TimeDate">
        <app-timeanddate></app-timeanddate>
      </mat-step>
      <mat-step label="UserBooking">
        <app-userdetailform [stepper]="stepper"></app-userdetailform>
      </mat-step>
      <mat-step label="Complete">
        <app-thankyoupage></app-thankyoupage>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
