<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item" *ngFor="let step of steps;let i=index">
      <div class="d-grid">
        <button
          (click)="onClick(i)"
          [class.active]="selectedIndex === i"
          [disabled]="!isStepClickable(i)"
          class="nav-link py-3 fw-bold">
          {{ step.label }}
        </button>
      </div>
    </li>
  </ul>
  
  <div *ngIf="selected">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>
</div>


<div class="row">
  <div class="col-md-11 mx-auto mat-stepper">
    <div class="mb-3">
      <h5 class="fw-bold">{{ doctorName }}</h5>
    </div>
    <mat-horizontal-stepper [linear]="linearModeSelected" #stepper>
      <mat-step label="Choose How You’d Like to Consult">
        <app-appointmentinteraction></app-appointmentinteraction>
      </mat-step>
      <mat-step label="Pick a Date & Time ">
        <app-timeanddate></app-timeanddate>
      </mat-step>
      <mat-step label="Complete Your Information">
        <app-userdetailform [stepper]="stepper"></app-userdetailform>
      </mat-step>
      <mat-step label="Booking Confirmed">
        <app-thankyoupage></app-thankyoupage>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
