<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="!errorMessage">
    <h3>Appointments List</h3>
  
    <table class="table table-striped" *ngIf="appointments.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.name }}</td>
          <td>{{ appointment.gender }}</td>
          <td>{{ appointment.preferreddate }}</td>
          <td>{{ appointment.preferredtime }}</td>
          <td>{{ appointment.statusName }}</td>
          <!-- <td>
            <button *ngIf="appointment.statusName === 'Waiting'" (click)="startAppointment(appointment.id)" class="btn btn-primary">Start</button>
            <button *ngIf="appointment.statusName === 'InProgress'" (click)="completeAppointment(appointment.id)" class="btn btn-success">Complete</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
  