<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="!errorMessage">
    <h3>Appointments List</h3>
  
    <table class="table table-striped" *ngIf="appointments.length > 0">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments; let i=index">
           <th>{{ i + 1 }}</th>
          <td>{{ appointment.name }}</td>
          <td>{{ appointment.gender }}</td>
          <td>{{ appointment.preferreddate }}</td>
          <td>{{ appointment.preferredtime }}</td>
          <td>{{ appointment.statusName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  