<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Admin Portal</h3>
        </div>
    
        <ul class="list-unstyled components">
            <li routerLinkActive="active">
                <a routerLink="/admin-portal/admin-dashboard">
                    <i class="fas fa-tachometer-alt" style="margin-right: 10px;"></i> <!-- Dashboard icon -->
                    Dashboard
                </a>
            </li>  
            <li routerLinkActive="active">
                <a routerLink="/admin-portal/doctor-list">
                    <i class="fas fa-user-md" style="margin-right: 11px;"></i> <!-- Doctors icon -->
                    Doctors
                </a>
            </li>  
            <li routerLinkActive="active">
                <a routerLink="/admin-portal/allappointments">
                    <i class="fas fa-calendar-check" style="margin-right: 11px;"></i> <!-- Appointments icon -->
                    Appointments
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/admin-portal/add-specialization">
                    <i class="fas fa-layer-group" style="margin-right: 9px;"></i> <!-- Specialization icon -->
                    Specialization
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                   
                <button type="button" id="sidebarCollapse" class="btn btn-info" routerLink="/">
                    <i class="fas fa-align-left"></i>
                    <span>Home</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <p>Welcome to Admin Portal</p>
                <div class="profile" (click)="toggleMenu()">
                    <div class="user">
                        <h3>{{username}}</h3>
                    </div>
                    <div class="img-box">
                        <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="User Image">
                    </div>
                </div>
                <div class="menu" [class.active]="isMenuActive">
                    <ul>
                        <li><i class="fa fa-user"></i>&nbsp;Profile</li>
                        <li ><i class="fa fa-envelope"></i>&nbsp;Inbox</li>
                        <li routerLink="/admin-portal/Changepassword" (click)="closeMenu()" ><i class="fa fa-cog"></i>&nbsp;Change Password</li>
                        <li (click)="logout()"><i class="fa fa-sign-out-alt"></i>&nbsp;Sign Out</li>
                    </ul>
                </div>
            </div>
        </nav>
<router-outlet></router-outlet>
    </div>
    
</div>

<!-- <button 
type="button" 
class="btn btn-default btn-sm" 
(click)="logout()">
<i class="fa fa-sign-out-alt"></i> Logout
</button> -->
