

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/Bootstrap_logo.svg.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Appointment
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        </ul>
    </div>
  </nav>
  
<div class="container d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
        <div class="col-md-8">
            <div class="well-block">
                <div class="well-title">
                    <!-- Dynamic Heading -->
                    <h2 *ngIf="isAdminLogin; else userDoctorLogin">
                         Welcome To Admin Login
                    </h2>
                    <ng-template #userDoctorLogin>
                       <h2 > Login</h2>
                    </ng-template>
                </div>
                <form  class="needs-validation"[formGroup]="login" (ngSubmit)="onSubmit()">
                    <!-- Form start -->
                        <!-- Text input-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="email">Username*</label>
                                <input id="email" formControlName="email" type="email" placeholder="E-Mail" class="form-control input-md">
                                <div Class="text-danger" *ngIf="login.controls['email'].invalid && (login.controls['email'].touched||login.controls['email'].dirty||isFormSubmitted)">
                                    <span *ngIf="login.controls['email'].errors?.['required']">Username is Required</span>
                                    <span *ngIf="login.controls['email'].errors?.['email']">This is not proper email</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="password">Password*</label>
                                <input id="password"formControlName="password" type="password" placeholder="Password" class="form-control input-md">
                                <div Class="text-danger" *ngIf="login.controls['password'].invalid && (login.controls['password'].touched||login.controls['password'].dirty||isFormSubmitted)">
                                    <span *ngIf="login.controls['password'].errors?.['required']">Password is required</span>
                                    <!-- <span *ngIf="login.controls['password'].errors?.['pattern']">
                                        Password must be at least 8 characters long, contain one uppercase letter, 
                                        one lowercase letter,one number, and one special character
                                    </span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Login</button>
                            </div>
                        </div>
                     </form>
                    <p *ngIf="!isAdminLogin">If you havn't account?<a routerLink="/register">Register</a></p>
                     
                <!-- form end -->
</div>
</div>
</div>
</div>
