/* .bread-form-step{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
}

.bread-form-step-line{
    width: 15%;
    height: 2px;
    border-bottom:1px solid orangered ;
    margin-top: 20px;
    margin-left: 15px;
display: none;
    
}
.bread-form-step-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-bottom: 15px;
    position: relative;
    top: -10px;
    z-index: 1;
    margin: auto;
    background-color: orangered;
    text-align: center;
    color: white;
    
} */


.active-on{
    display: block;
}
.btn-success{
    width: 120px !important;
}
.mat-horizontal-stepper-header {
    justify-content: space-between;
 }
 
 .mat-step-label {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .mat-step-number {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .mat-horizontal-stepper-header .mat-step-icon {
    display: none;
 }
 