<div class="row">
    <div class="col-md-11 mx-auto mat-stepper">
       <mat-horizontal-stepper [linear]="false" #stepper>
          <mat-step>
             <app-appointmentinteraction></app-appointmentinteraction>
          </mat-step>
          <mat-step>
             <app-timeanddate></app-timeanddate>
          </mat-step>
          <mat-step>
             <!-- Add your third component or content here -->
              <app-userdetailform></app-userdetailform>
          </mat-step>

          <!-- Continue adding steps here -->
       </mat-horizontal-stepper>
    </div>
 </div>
 