
<div class="container-alert"><div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucesss!</strong> Booking Successfully
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  </div>
<div class="container mt-3">
    
        <div class="row">
            <div class="col-md-10">
                <div class="well-block">
                    <div class="well-title">
                        
                        <h2>Questions? Book an Appointment</h2>
                    </div>
                    <form  class="needs-validation"[formGroup]="bookappoinment" (ngSubmit)="onSubmit()">
                        <!-- Form start -->
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="appointmentFor">Appointment For*</label>
                                <ng-select 
                                [items]="combinedList" 
                                bindLabel="name" 
                                bindValue="value" 
                                placeholder="Select Specialist or Doctor" 
                                [searchable]="true"
                                [typeahead]="searchInput"  
                                [multiple]="true"
                                [groupBy]="'groupName'"
                                (change)="onSpecializationDoctorChange($event)"
                                (search)="onSearch($event)">  <!-- Added search event to listen for typing -->

                                <ng-template ng-optgroup-tmp let-item="item">
                                    <span>{{item.groupName}}</span>
                                </ng-template>
                                
                                <ng-template ng-option-tmp let-item="item">
                                    <span>{{item.name}}</span>
                                </ng-template>
                            </ng-select>
                         </div>
                         </div>
                            <!-- <div class="text-danger" *ngIf="bookappoinment.controls['appointmentFor'].invalid && (bookappoinment.controls['appointmentFor'].dirty||isFormSubmitted)">
                                <span *ngIf="bookappoinment.controls['appointmentFor'].errors?.['required']">Appointment for is Required</span>
                            </div> -->
                            
                        
            
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="name">Name*</label>
                                    <input id="name" formControlName="name" type="text" placeholder="Name" class="form-control input-md">
                                   <div Class="text-danger" *ngIf="bookappoinment.controls['name'].invalid && (bookappoinment.controls['name'].touched||bookappoinment.controls['name'].dirty||isFormSubmitted)">
                                    <span *ngIf="bookappoinment.controls['name'].errors?.['required']">Name is Required</span>
                                   </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email*</label>
                                    <input id="email" formControlName="email" type="text" placeholder="E-Mail" class="form-control input-md">
                                    <div Class="text-danger" *ngIf="bookappoinment.controls['email'].invalid && (bookappoinment.controls['email'].touched||bookappoinment.controls['email'].dirty||isFormSubmitted)">
                                        <span *ngIf="bookappoinment.controls['email'].errors?.['required']">Email is Required</span>
                                        <span *ngIf="bookappoinment.controls['email'].errors?.['email']">This is not proper email</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="dateOfBirth">date Of birth</label>
                                    <input id="dateOfBirth" formControlName="dateOfBirth" type="date" placeholder="Date of birth" class="form-control input-md">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="gender">Gender</label>
                                    <select id="gender" formControlName="gender" class="form-control">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>  
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="phoneNumber">Phone Number*</label>
                                    <input id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="Phone Number" class="form-control input-md">
                                <div class="text-danger" *ngIf="bookappoinment.controls['phoneNumber'].invalid && (bookappoinment.controls['phoneNumber'].touched||bookappoinment.controls['phoneNumber'].dirty||isFormSubmitted)">
                                    <span *ngIf="bookappoinment.controls['phoneNumber'].errors?.['required']">Phone Number is Required</span></div>
                                    <span *ngIf="bookappoinment.controls['phoneNumber'].errors?.['pattern']">Phone number must be exactly 10 digits</span>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="preferedDate">Preferred Date*</label>
                                    <input id="preferedDate" formControlName="preferedDate" type="date" placeholder="Preferred Date" class="form-control input-md">
                                <div class="text-danger" *ngIf="bookappoinment.controls['preferedDate'].invalid && (bookappoinment.controls['preferedDate'].touched||bookappoinment.controls['preferedDate'].dirty||isFormSubmitted)"> 
                                    <span *ngIf="bookappoinment.controls['preferedDate'].errors?.['required']">Preferred is Required</span>
                                </div>
                                </div>
                            </div>
                            <!-- Select Basic -->
                            <!-- <div class="col-md-6 mt-2">
                                <div class="form-group">
                                    <label class="control-label" for="preferedTime">Preferred Time</label>
                                    <input id="preferedTime" formControlName="preferedTime" class="form-control" type="time">
                                    <select id="preferedTime" formControlName="preferedTime"  class="form-control">
                                        <option value="8:00 to 9:00">8:00 to 9:00</option>
                                        <option value="9:00 to 10:00">9:00 to 10:00</option>
                                        <option value="10:00 to 1:00">10:00 to 1:00</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-md-6 mt-2">
                                <div class="form-group">
                                  <label class="control-label" for="preferedTime">Preferred Time</label>
                                  <select id="preferedTime" formControlName="preferedTime" class="form-control">
                                    <option *ngFor="let time of timeSlots" [value]="time">{{ time }}</option>
                                  </select>
                                </div>
                              </div>
                            <!-- Select Basic -->
                           
                            <!-- Button -->
                            <div class="col-md-12 mt-2">
                                <div class="form-group">
                                    <button type="submit">Make An Appointment</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- form end -->
  </div>
  </div>
  </div>
  </div>
