 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- bootstrap icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   <!--  -->
<!-- fontawsome cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
 <!--  -->
<title>Hello, world!</title>
  </head>
  <body>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- fontawsome  link -->

    <!-- //////////////////////////AppoinntmentStep////////////////////////////////// -->

 <section>
  <div class="container">
    <div class="row  mt-3">
      <div class="col-md-3">
        <div class="app-card-box" (click)="selectOption('hospital')" [class.selected]="selectedOption === 'hospital'">
          <div class="app-icon-circle">
            <div class="apontment-icon"><i class="bi bi-hospital"></i><p>In Hospital</p></div>


          </div>
              <p class="app-box-para">Interact face to face at our hospital</p>
              <div>
                
                <div class="appointment-price-1">
               
                  <span class="doctor-fee">Fee : <i class="bi bi-currency-rupee"></i>1500</span></div>
              </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="app-card-box"  (click)="selectOption('video')" [class.selected]="selectedOption === 'video'">
          <div class="app-box-circle">
          <div class="app-icon-circle">
            <div class="apontment-icon"><i class="bi bi-webcam"></i><p>Vedio call</p></div>
          </div>
          </div>
              <p class="app-box-para">Schedule a virtual meet from anywhere</p>
              <div>
                
                <div class="appointment-price-2">
               
                  <span class="doctor-fee">Fee : <i class="bi bi-currency-rupee"></i>1500</span></div>
              </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="app-card-box"(click)="selectOption('oncall')" [class.selected]="selectedOption === 'oncall'">
          <div class="app-icon-circle">
            <div class="apontment-icon"><i class="bi bi-phone-vibrate"></i><p>On Call</p></div>


          </div>
              <p class="app-box-para">Talk over the phone for quicker responses</p>
              <div>
                
                <div class="appointment-price-3">
               
                  <span class="doctor-fee">Fee : <i class="bi bi-currency-rupee"></i>1500</span></div>
              </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="app-card-box" (click)="selectOption('offline')" [class.selected]="selectedOption === 'offline'">
          <div class="app-icon-circle">
            <div class="apontment-icon"><i class="bi bi-chat"></i><p>Off Line</p></div>

          </div>
              <p class="app-box-para">Send a written query about your problem or treatment</p>
              <div>
                
                <div class="appointment-price-4">
               
                  <span  class="doctor-fee">Fee : <i class="bi bi-currency-rupee"></i>1500</span></div>
              </div>
        </div>

      </div>

    </div>
    <div class="appointment-step-button mt-3 ms-2">
       
      <button class="btn btn-success   ms-2"  [disabled]="!selectedOption" cdkStepperNext>Proceed <i class="bi bi-arrow-right"></i></button>
    </div>
  </div>
 </section>

  </body>
</html>