

<!--  -->
<section>
  <div class="carosal-section my-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="carosal-box">
          <div class="owl-carousel owl-theme">
            <div>
              <div class="item image-item ps-4 pt-2"><img
                  src="..//IMAGES/Card_images/new_periods-removebg-preview resize image.png  " alt="" style="width: 100px;" height="120px"
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>Period doubts</p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>

            <div>
              <div class="item image-item"><img
                  src="..//IMAGES/Card_images/ACNE.PNG.png " alt=""
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>Acne,Pimple or </p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>

            <div>
              <div class="item image-item"><img
                  src="..//IMAGES/Card_images/cardiac.png.png " alt="" style="width: 150px;" height="150px"
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>Cardiac Surgery</p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>


            <div>
              <div class="item image-item pt-2"><img
                  src="..//IMAGES/Card_images/couph.png.png " alt=""style="width: 150px;" height="130px"
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>Couph and fever </p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>


            <div>
              <div class="item image-item"><img
                  src="..//IMAGES/Card_images/dental.png.png " alt="" style="width: 150px;" height="150px"
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>Dental Implants</p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>



            <div>
              <div class="item image-item pt-4 ps-3"><img
                  src="..//IMAGES/Card_images/medicines-removebg-preview.png  " style="width: 120px;" height="120px" alt=""
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>Medical Consaltent</p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>


            <div>
              <div class="item image-item"><img
                  src="..//IMAGES/Card_images/neuro.png.png  " style="width: 150px;" height="140px" alt=""
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>neuro Sergury</p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>


            <div>
              <div class="item image-item"><img
                  src="..//IMAGES/Card_images/new serggery.png " alt=""
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>Normal checkup</p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>


            <div>
              <div class="item image-item"><img
                  src="..//IMAGES/Card_images/orphthology.png.png  " alt=""style="width: 130px;" height="130px"
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>Eyes care</p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>


            <div>
              <div class="item image-item"><img
                  src="..//IMAGES/Card_images/pngtree-cute-baby-blue-eyes-girls-wallpapers-image_2948599-removebg-preview-resize.png  " alt="" style="width: 150px;" height="120px"
                  class="image-fluid"> </div>
              <div class="image_text_box">
                <p>Children not feeling well

                </p>
              </div>
             <div class="consult_link"> <a href="#">consult now</a></div>
            </div>





          </div>
        </div>

      </div>

    </div>

  </div>
</section>


<!-- slick slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- slick slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--  -->

<!--  -->



<!-- Optional JavaScript; choose one of the two! -->
<script src="../JAVASCRIPT/main.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
