    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    padding-left: .75em;
    padding-right: .75em;
    }
    .py-5 {
        padding-top: 0rem !important;
        padding-bottom: 3rem !important;
      }
      input.form-control-lg, select.form-control-lg {
        font-size: 0.9rem; /* Adjust font size */
        height: calc(1.5em + 0.75rem + 2px); /* Adjust height */
        padding: 0.375rem 0.75rem; /* Adjust padding */
      }
      
      .card-registration .form-outline input, 
      .card-registration .form-outline select {
        font-size: 0.9rem; /* Set a smaller font size */
      }
      
      .card-registration .form-outline input::placeholder {
        font-size: 0.8rem; /* Adjust placeholder text size */
      }
      
    /* .card-registration  {
    top: 10px;
    } */
    /* .popup{
        width: 400px;
        background:black;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%)scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    .open-popup{
        visibility: visible;
        top: 50%;
        transform: translate(-50%,-50%)scale(1);
    }
    .popup img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    .popup h2,p{
        color: #fff;
    }
    .popup h2{
        font-size: 100%;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    .popup button{
        width: 100%;
        margin-top: 50px;
        padding: 10px 0;
        background: #6fd649;
        color:#fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    } */
    