    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    padding-left: .75em;
    padding-right: .75em;
    }
    .py-5 {
        padding-top: 0rem !important;
        padding-bottom: 3rem !important;
      }
      input.form-control-lg, select.form-control-lg {
        font-size: 0.9rem; /* Adjust font size */
        height: calc(1.5em + 0.75rem + 2px); /* Adjust height */
        padding: 0.375rem 0.75rem; /* Adjust padding */
      }
      
      .card-registration .form-outline input, 
      .card-registration .form-outline select {
        font-size: 0.9rem; /* Set a smaller font size */
      }
      
      .card-registration .form-outline input::placeholder {
        font-size: 0.8rem; /* Adjust placeholder text size */
      }
     
    
      .form-outline {
        position: relative;
        min-height: 60px; 
    }
    .show-password-button i {
      font-size: 16px;
      color: #aaa; 
    }
    .text-danger {
        position: absolute;
        bottom: -3px; 
        font-size: 0.8rem;
    }
    
    