<section class="time-date-section">
  <div class="container-fluid timeline-container mt-3">
    <div class="row">
      <div class="col-sm-1 d-none d-sm-block">
        <div class="row">
          <div class="col-12 prev-btn">
            <span class="fa fa-angle-left"></span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-10">
        <div>
          <div class="row timeline-list">
            <div *ngFor="let date of dates" 
              class="col-3 col-sm-2 col-lg-1 timeline-item"
              [class.active]="date.isSelected"
              [class.blurred]="!date.isAvailable" 
              (click)="date.isAvailable && selectDate(date)">
              <a class="timeline-date">
                <span class="d-block"><strong>{{ date.day | titlecase }}</strong></span>
                <span class="d-block">{{ date.date }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1 d-none d-sm-block">
        <div class="row">
          <div class="col-12 next-btn">
            <span class="fa fa-angle-right"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="timing-slot">
  <div class="container">
    <!-- Morning Slots -->
    <div class="row mt-2">
      <div class="morning-section">
        <p>MORNING SLOTS</p>
      </div>
      <div *ngFor="let slot of morningSlots" class="col-lg-1 col-sm-3 col-md-4 SLOTES"
        [class.selected]="slot === selectedSlot" (click)="selectSlot(slot)">
        <span>{{ slot }}</span>
      </div>
    </div>

    <!-- Afternoon Slots (always shown now) -->
    <div class="row mt-3">
      <div class="noon-section">
        <p>AFTERNOON SLOTS</p>
      </div>
      <div *ngFor="let slot of afternoonSlots" class="col-lg-1 col-sm-3 col-md-4 SLOTES"
        [class.selected]="slot === selectedSlot" (click)="selectSlot(slot)">
        <span>{{ slot }}</span>
      </div>
    </div>

    <div class="mt-5">
      <button type="button" class="btn btn-success float-right ms-3" matStepperNext [disabled]="!isNextEnabled()">Next</button>
      <button type="button" class="btn btn-primary float-right " matStepperPrevious>Prev</button>
    </div>
  </div>
</section>